#textdomain wesnoth-ah

[scenario]
    id=06_Tears_of_the_Heartfangs
    name= _ "Tears of the Heartfangs"
    next_scenario=07_Dragonheart
    # Insert the content of the file pointed to at this position.
    map_file=06_Tears_of_the_Heartfangs.map
    snapshot=no
    {ASHEN_HEARTS_XP_MODIFIER}

    # load the macros at top level
    {./scenario-utils/06_Tears_of_the_Heartfangs-utils.cfg}

    {SCENARIO_MUSIC underground.ogg}

    ##::Story
    {AH_STORY_TEARS_OF_THE_HEARTFANGS}

    # Number of turns
    {TURNS 42 40 40}

    # The player wins if all enemy leaders are dead.
    victory_when_enemies_defeated=no

    ##|| Flow Of Time ||##
    {TEMPLE_OF_DRAKES}

    ##|| Determine Side Conditions ||##
    ##|| Player Side
    [side]
        {HERKARTH_SIDE}

        shroud=yes

        ##:: Gold and Income
        {GOLD 220 200 180}
        {INCOME 0 0 0}
    [/side]

    ##|| Foe
    ##:: side dwarves
    [side]
        ##:: Side Info
        side=2
        controller=ai
        {TEAM_NAME:DWARVES}

        ##:: Leader Info
        type=Dwarvish Lord
        id=Bromdindol
        name=_"Bromdindol"
        canrecruit=yes
        unrenamable=yes

        ##:: Recruit List
        recruit=Gryphon Rider, Gryphon Master, Gryphon Thunderlord

        ##:: Gold and Income
        {GOLD 140 160 180}
        {INCOME 0 0 0}
    [/side]

    ##:: event for gryphon riders
    [event]
        name = recruit
        first_time_only=no
        [filter_second]
            id=Bromdindol
        [/filter_second]
        [modify_unit]
            [filter]
                x,y= $x1,$y1
            [/filter]
            {ADD_EFFECT_ABILITY_MOVE_DESCRIPTION}
        [/modify_unit]
    [/event]

    ##:: side dwarves
    [side]
        ##:: Side Info
        side=3
        controller=ai
        {TEAM_NAME:DWARVES}

        ##:: Leader Info
        type=Dwarvish Runemaster
        id=Ber
        name=_"Ber"
        canrecruit=yes
        unrenamable=yes

        ##:: Recruit List
        recruit=Dwarvish Runesmith, Dwarvish Thunderer, Dwarvish Thunderguard

        ##:: Gold and Income
        {GOLD 100 120 140}
        {INCOME 0 0 0}
    [/side]

    ##:: side merfolk
    [side]
        ##:: Side Info
        side=4
        controller=ai
        {TEAM_NAME:MERFOLK}

        ##:: Leader Info
        type=Mermaid Siren
        id=Aylarna
        name=_"Aylarna"
        canrecruit=yes
        unrenamable=yes

        ##:: Recruit List
        recruit=Merman Netcaster, Merman Fighter, Mermaid Initiate

        ##:: Gold and Income
        {GOLD 80 100 120}
        {INCOME 0 0 0}
        [ai]
            ##::Mermen stay in water, water villages
            # Topology not ( not a1 and not a2 )) = a1 or a2
            [avoid]
                [not]
                    terrain=W*
                [/not]
                [and]
                    [not]
                        terrain=*^Vm
                    [/not]
                [/and]
            [/avoid]
        [/ai]
    [/side]

    ##:: side monsters
    [side]
        ##:: Side Info
        side=5
        controller=ai
        team_name=monsters
        user_team_name=_"Monsters"

        ##:: Leader Info
        no_leader=yes

        ##:: Recruit List
        recruit=
    [/side]

    ##:: prestart event
    [event]
        name=prestart

        {ASHEN_HEART_RECALL_COSTS_ADJUSTMENT}

        {LOOT_CHEST_OF_GOLD 1 50  1  9}
        {LOOT_CHEST_OF_GOLD 1 50  3 26}
        {LOOT_CHEST_OF_GOLD 1 50 46  1}

        ##::main gallery
        [item]
            x,y=9,1
            halo=units/drakes/arbiter-blade-se-1.png~FL(horiz)~GS()
        [/item]

        [item]
            x,y=11,2
            halo=units/drakes/arbiter-blade-se-1.png~FL(horiz)~GS()
        [/item]

        [item]
            x,y=15,4
            halo=units/drakes/arbiter-blade-se-1.png~FL(horiz)~GS()
        [/item]

        [item]
            x,y=1,7
            halo=units/drakes/arbiter-blade-se-1.png~GS()
        [/item]

        [item]
            x,y=3,8
            halo=units/drakes/arbiter-blade-se-1.png~GS()
        [/item]

        [item]
            x,y=5,9
            halo=units/drakes/arbiter-blade-se-1.png~GS()
        [/item]

        [item]
            x,y=7,10
            halo=units/drakes/arbiter-blade-se-1.png~GS()
        [/item]

        ##::additional statues
        [item]
            x,y=15,13
            halo=units/drakes/thrasher-spear-s-6.png~GS()
        [/item]

        [item]
            x,y=6, 17
            halo=units/drakes/enforcer-blade-2.png~GS()
        [/item]

        [item]
            x,y=23, 28
            halo=units/drakes/thrasher-spear-s-6.png~FL(horiz)~GS()
        [/item]

        [item]
            x,y=31, 14
            halo=units/drakes/warden-blade-se-1.png~GS()
        [/item]

        [item]
            x,y=40, 1
            halo=units/drakes/sky-fire-s-1.png~GS()
        [/item]

        [item]
            x,y=42, 13
            halo=units/drakes/flare-lead-2.png~GS()
        [/item]

        [item]
            x,y=48, 13
            halo=units/drakes/flare-lead-2.png~FL(horiz)~GS()
        [/item]

        [item]
            x,y=43, 24
            halo=units/drakes/inferno-fire-se-1.png~FL(horiz)~GS()
        [/item]

        [item]
            x,y=30, 30
            halo=units/drakes/enforcer-blade-2.png~GS()
        [/item]

        ##::clockwork dragon
        {PLACE_IMAGE items/clockwork_head.png 4 30}

        ##::goal
        {PLACE_IMAGE items/gohere.png 52 33}

        [unit]
            side=5
            {AH_CHARACTER_STATS:MALKRATH}
            x,y=11,6
        [/unit]

        {MODIFY_UNIT (x,y=11,6) facing sw}
        
        [petrify]
            id=Malkrath
        [/petrify]

        ##::runic mines
        {PLACE_RUNIC_MINE 19 9}
        {PLACE_RUNIC_MINE 20 15}
        {PLACE_RUNIC_MINE 36 11}
        {PLACE_RUNIC_MINE 29 12}
        {PLACE_RUNIC_MINE 40 15}
        {PLACE_RUNIC_MINE 50 19}
        {PLACE_RUNIC_MINE 51 21}

        {AH_WISH_ITEM_ARMOR_GOLD 21 32}

        #ifndef EASY
        [micro_ai]
            side=2
            ai_type=goto
            action=add
            ca_score=99000

            [filter]
                type=Gryphon Thunderlord, Gryphon Master, Gryphon Rider, Gryphon Scout
                [filter_wml]
                    attacks_left=0
                [/filter_wml]
            [/filter]

            [filter_location]
                x,y=50, 23
            [/filter_location]
        [/micro_ai]
        #endif

        [unit]
            side=1
            {AH_CHARACTER_STATS:ULUTHUR}
            placement=leader
        [/unit]
    [/event]

    #ifndef EASY
    [event]
        name=attack end
        first_time_only=no
        [filter]
            type=Gryphon Thunderlord, Gryphon Master, Gryphon Rider, Gryphon Scout
        [/filter]
        [if]
            [variable]
                name=unit.hitpoints
                less_than_equal_to=0
            [/variable]
            [then]
            [/then]
            [else]
                [heal_unit]
                    [filter]
                        x,y=$x1,$y1
                    [/filter]
                    moves=3
                    animate=yes
                    amount=0
                [/heal_unit]
            [/else]
        [/if]
    [/event]
    #endif

    ##:: start event
    [event]
        name=start

        [message]
            speaker=Uluthur
            message= _ "We're inside! So now we need to find the great chamber. Any idea where we should go?"
        [/message]

        [message]
            speaker=Herkarth
            message= _ "Legends say that the great chamber lies at the deepest spot of the temple, where our connection with our ancestors is the strongest. The flowing water shall lead us there."
        [/message]

        ##:: Objectives
        [objectives]
            side=1
            [objective]
                description= _ "Follow the river and find the entrance to the great chamber with any unit"
                condition=win
            [/objective]
            [objective]
                description= _ "Herkarth dies"
                condition=lose
            [/objective]
            [objective]
                description= _ "Uluthur dies"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    ##:: event side 1 turn 3
    # we casually imply there's a puzzle here 
    # that player might solve
    # not mandatory
    [event]
        name=side 1 turn 3

        [message]
            speaker=Uluthur
            message= _ "Herkarth! This statue's eyes are moving! He is alive!"
        [/message]

        {SCROLL_TO 11 6}
        [delay]
            time=200
        [/delay]
        {AH_FLASH_TILE 11 6 misc/green-flash-border.png ()}
        [delay]
            time=200
        [/delay]

        [message]
            speaker=Herkarth
            message= _ "Has the musty air of this temple gone to your head, Uluthur? You are already hallucinating!"
        [/message]

        [message]
            speaker=Uluthur
            message= _ "No! No! I swear he is alive! Perhaps there is a way to free him?"
        [/message]
    [/event]

    ##:: second hint of the puzzle
    # I gave you two hints
    # if you still cannot solve this...
    [event]
        name=enter_hex
        first_time_only=yes

        [filter]
            side=1
            x=12,13
            y=3,4
        [/filter]

        [message]
            speaker=unit
            message=_"There seems to have been an <b>Arbiter</b> statue here. Now, it's just a pile of rubble."
        [/message]
    [/event]

    ##:: puzzle solution
    # and you get some a new loyal
    [event]
        name=moveto
        [filter]
            type=Drake Arbiter
            x,y=13,3
        [/filter]

        [petrify]
            x,y=13,3
        [/petrify]
        {MODIFY_UNIT (x,y=13,3) facing sw}
        {MODIFY_UNIT (x,y=13,3) side 5}

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "When the Arbiter moved onto the remains of the statue, he slowly began to turn to stone. It was not long before he was petrified completely, sent to join the other statues of the gallery."
        [/message]

        {SCROLL_TO 11 6}

        [delay]
            time=2500
        [/delay]

        {EARTHQUAKE ()}

        [delay]
            time=1000
        [/delay]

        [unpetrify]
            id=Malkrath
        [/unpetrify]

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "A bloodcurdling roar echoed through the halls."
        [/message]

        [message]
            speaker=Malkrath
            message= _ "I am Malkrath, protector of these ancient halls. Who dares invade my ward?"
        [/message]

        [message]
            speaker=Herkarth
            message= _ "It is we who have roused you from your sleep, Malkrath. Dwarven runemasters have desecrated these holy halls, severing our connection with the dragons. Our inner flame slowly dims without this link - we will die if we do not stop the stoneheads."
        [/message]

        [message]
            speaker=Malkrath
            message= _ "It is my duty to protect this temple from any and all intruders. Fight together with me so that we may cleanse this place of the defilers!"
        [/message]

        [message]
            speaker=Herkarth
            message= _ "We are glad to have you at our side."
        [/message]

        {MODIFY_UNIT (id=Malkrath) side 1}
    [/event]

    ##:: the moveto victory event
    [event]
        name=moveto
        [filter]
            side=1
            x=52,52,51
            y=33,32,33
        [/filter]

        [message]
            speaker=unit
            message= _ "This path leads to the great chamber! Let us go!"
        [/message]

        # add achievement
        {ASHEN_HEARTS_ACHIEVEMENT_SCENARIO 06_Tears_of_the_Heartfangs}

        [endlevel]
            result=victory
            carryover_percentage=40
            carryover_add=yes
        [/endlevel]
    [/event]

    ##:: secret boss fight site sighted
    [event]
        name=enter_hex
        first_time_only=yes

        [filter]
            side=1
            [filter_location]
                x=4
                y=30
                radius=2
            [/filter_location]
        [/filter]

        {SCROLL_TO  4 30}

        [message]
            scroll=no
            speaker=Herkarth
            message= _ "Hold on! What... what is that?"
        [/message]

        [message]
            scroll=no
            speaker=Uluthur
            message= _ "This is the work of dwarvish craftsmanship! It appears to be fashioned in the likeness of the head of a dragon."
        [/message]

        [message]
            scroll=no
            speaker=Herkarth
            message= _ "They likely used this ram to break the seals protecting our temple. It must have gotten caught in the strong current of the Heartfang River."
        [/message]

        [message]
            scroll=no
            speaker=Uluthur
            message= _ "Those pesky dwarves imitate our very own ancestors to break into our holiest shrine! These vile stoneheads! We will not let them get away with this!"
        [/message]

        # give warning to player
        [message]
            [not]
                id=Uluthur
            [/not]
            scroll=no
            type_adv_tree=Drake Burner,Drake Fighter,Drake Clasher,Drake Glider
            canrecruit=no
            message= _ "We should approach with caution. The stoneheads might have done something to it."
        [/message]
    [/event]

    ##:: secret boss fight event
    [event]
        name=moveto
        first_time_only=yes

        [filter]
            side=1
            [filter_location]
                x=4
                y=30
                radius=1
            [/filter_location]
        [/filter]

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "Suddenly, the earth beneath Herkarth's group began to crumble."
        [/message]

        [message]
            speaker=Herkarth
            message= _ "Its eyes are glowing! It must be enchanted with runic magic! Halberds high, we must prepare to fight!"
        [/message]

        {SCROLL_TO 4 30}

        {TREMOR}

        {FLASH_WHITE ()}

        [delay]
            time=1000
        [/delay]

        {FLASH_WHITE ()}

        [delay]
            time=1000
        [/delay]

        {FLASH_WHITE ()}

        {VARIABLE activate_cw 1}

        {NAMED_LOYAL_UNIT 2 (Clockwork Dragon) 4 30 (IzMulchzaf) "Iz'Mulch-zaf"}

        [remove_item]
            x=4
            y=30
        [/remove_item]

        [message]
            scroll=no
            speaker=Herkarth
            message= _ "Bring it down!"
        [/message]
    [/event]

    ##:: defeating the secret boss event
    [event]
        name=last breath
        [filter]
            id=IzMulchzaf
        [/filter]

        [message]
            speaker=IzMulchzaf
            message= _ "The magic... forever binding... destined to destroy... will my thralldom finally end?"
        [/message]

        {VARIABLE deadclock_x $x1}
        {VARIABLE deadclock_y $y1}

        {AH_WISH_ITEM_HELM_DRAGON $deadclock_x $deadclock_y}

        [message]
            speaker=Herkarth
            message= _ "It seems that the dwarves bound a soul to this mechanical dragon. His consciousness still remains within it, though I cannot hear him speak directly to me."
        [/message]

        [message]
            speaker=Herkarth
            message= _ "Fear not, whoever you are! We will find a way to free you from your prison! Let us take the head of the mechanical dragon with us."
        [/message]

        [message]
            speaker=Uluthur
            message= _ "This battle was difficult and we have sustained many losses. But we must not fall to despair now, for we have still to reach the great chamber and rid our sacred temple of the defiling stoneheads!"
        [/message]
    [/event]

    ##:: event: sighted gryphons
    #ifndef EASY
    [event]
        name=sighted
        first_time_only=yes

        [filter]
            type=Gryphon Scout, Gryphon Rider, Gryphon Master, Gryphon Thunderlord
        [/filter]

        [filter_second]
            side=1
        [/filter_second]

        [message]
            speaker=Herkarth
            message= _ "Once again, they use these Gryphons! Be careful, they can outmaneuver us!"
        [/message]

        [delay]
            time=1000
        [/delay]

        [message]
            speaker=narrator
            image=wesnoth-icon.png
            message= _ "Gryphons are able to move after attacking."
        [/message]
    [/event]
    #endif

    {AH_DEATHS:HERKARTH}
    {AH_DEATHS:ULUTHUR}

    ##:: event: scenario end
    [event]
        name = scenario_end

        {CLEAR_VARIABLE activate_cw}
    [/event]

    {UX_HIGHLIGHT_MISSES_EVENT}
[/scenario]
