#textdomain wesnoth-ah
[textdomain]
    name="wesnoth-ah"
    path="data/add-ons/Ashen_Hearts/translations"
[/textdomain]

{./team-colors.cfg}

#define CAMPAIGN_DESC_AH
    "<span color='#fff7a4' size='larger'>"+_"Ashen Hearts"+"</span>"+"
"+"<i>"+_ "In the ancient Heartfang mountains, a once powerful population of drakes has begun to weaken due to a mysterious force dimming their inner fire. Guide Herkarth, the heir of the Menor kings, and his companion Uluthur on a journey to delve into drakes' past and reignite the flames of their ashen hearts."+"</i>"+"
"+_"<span color='#fff7a4'>"+"(Expert Level, 8 scenarios)"+"</span>"+"
"+"<span color='grey' size='small'>"+_"Feedback: https://discord.gg/rsePgjHRPA (Wesnoth Modders Guild)"+"</span>"
#enddef

[campaign]
    id=Ashen_Hearts
    name= _ "Ashen Hearts"
    abbrev= _ "AH"
    define=CAMPAIGN_ASHEN_HEARTS

    rank=525
    start_year="673 YW"
    end_year="674 YW"

    {ENABLE_ARMAGEDDON_DRAKE}

    icon="units/drakes/inferno.png~RC(magenta>red)~BLIT(units/drakes/inferno.png~RC(magenta>red)~RC(magenta>red)~GS()~O(60%))"
    background="data/add-ons/Ashen_Hearts/images/story/volcano.jpg"

    image="data/add-ons/Ashen_Hearts/images/portraits/herkarth.png~SCALE(300,300)"
    description={CAMPAIGN_DESC_AH}

    {CAMPAIGN_DIFFICULTY EASY "units/drakes/burner.png~RC(magenta>red)" (_"Burner") (_"Normal")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/drakes/fire.png~RC(magenta>red)" (_"Fire") (_"Challenging")}{DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD "units/drakes/inferno.png~RC(magenta>red)" (_"Inferno") (_"Difficult")}
    {CAMPAIGN_DIFFICULTY NIGHTMARE "units/drakes/armageddon.png~RC(magenta>red)" (_"Armageddon") (_"Nightmare")}

    first_scenario=01_Inner_Flames

    {./about.cfg}
[/campaign]

#ifdef CAMPAIGN_ASHEN_HEARTS
[binary_path]
    path=data/add-ons/Ashen_Hearts/
[/binary_path]
{./macros}
{./scenarios}
[units]
    {./units}
[/units]
#endif

#  #ifdef EDITOR
#  	{~add-ons/Ashen_Hearts/terrain}
#  	# the campaign's binary path is needed since [terrain_graphics] references custom images
#  	[binary_path]
#  		path=data/add-ons/Ashen_Hearts/
#  	[/binary_path]
#  	# define an icon under which the custom terrain appears in the map editor
#  	[editor_group]
#  		id=ah
#  		name= _ "Ashen Hearts"
#  		icon="group_custom"
#  	[/editor_group]
#  #endif
