#textdomain wesnoth-ah
[textdomain]
    name="wesnoth-ah"
	path="data/add-ons/Ashen_Hearts/translations"
[/textdomain]


[campaign]
	id=Ashen_Hearts
	name= _ "Ashen Hearts"
	abbrev= _ "AH"
	define=CAMPAIGN_ASHEN_HEARTS
	
	[modify_unit_type]
        	type="Inferno Drake"
        	add_advancement="Armageddon Drake"
        	set_experience=220
   	[/modify_unit_type]
	
	icon="units/drakes/inferno.png~RC(magenta>red)~BLIT(units/drakes/inferno.png~RC(magenta>red)~RC(magenta>red)~GS()~O(60%))"
	
	image=data/add-ons/Ashen_Hearts/images/portraits/herkarth.png
	description= _ "In the ancient Heartfang mountains, a once powerful population of drakes has begun to weaken due to a mysterious force dimming their inner fire. Guide Herkarth, the heir of the Menor kings, and his companion Uluthur on a journey to delve into drakes' past and reignite the flames of their ashen hearts.
" + _ "(Expert difficulty, 8 scenarios)"

	{CAMPAIGN_DIFFICULTY EASY "units/drakes/burner.png~RC(magenta>red)" (_"Burner") (_"Easy")}
	{CAMPAIGN_DIFFICULTY NORMAL "units/drakes/fire.png~RC(magenta>red)" (_"Fire") (_"Normal")}
	{CAMPAIGN_DIFFICULTY HARD "units/drakes/inferno.png~RC(magenta>red)" (_"Inferno") (_"Challenging")}{DEFAULT_DIFFICULTY}
	{CAMPAIGN_DIFFICULTY NIGHTMARE "units/drakes/armageddon.png~RC(magenta>red)" (_"Armageddon") (_"Nightmare")}

	first_scenario=01_Inner_Flames
	
	[about]
		title="Campaign design and programming"
		[entry]
			name="David Limbrock (Kwandulin)"
		[/entry]
	[/about]
	[about]
		title="AI support"
		[entry]
			name="Matthias Schoeck (mattsc)"
		[/entry]
	[/about]
	[about]
		title="Artwork"
		[entry]
			name="doofus-01"
			comment="Drake Burner portrait"
		[/entry]
		[entry]
			name="SFault"
			comment="Bear"
		[/entry]
		[entry]
			name="Zerovirus"
			comment="Ilrandh's overlay, Dragonheart"
		[/entry]
	[/about]
	[about]
		title="Story and dialogue text revisions, campaign description"
		[entry]
			name="nemaara"
		[/entry]
	[/about]
	[about]
		title="Special Thanks"
		[entry]
			name="WhereIsBaodur"
			comment="A ton of feedback, both gameplay and story related."
		[/entry]
	[/about]
[/campaign]


#ifdef CAMPAIGN_ASHEN_HEARTS
	[binary_path]
		path=data/add-ons/Ashen_Hearts/
	[/binary_path]
	{./terrain}
	{./macros}
	{./scenarios}
	[units]
		{./units}
	[/units]
#endif

#  #ifdef EDITOR
#  	{~add-ons/Ashen_Hearts/terrain}
#  	# the campaign's binary path is needed since [terrain_graphics] references custom images
#  	[binary_path]
#  		path=data/add-ons/Ashen_Hearts/
#  	[/binary_path]
#  	# define an icon under which the custom terrain appears in the map editor
#  	[editor_group]
#  		id=ah
#  		name= _ "Ashen Hearts"
#  		icon="group_custom"
#  	[/editor_group]
#  #endif
