#textdomain wesnoth-ah

#define CAMPAIGN_UX_MISS_INDICATOR_SWITCH
    [event]
        name=prestart

        {VARIABLE wol_ux_miss_event_switch "no"}
    [/event]
    [event]
        name=start

        # switch it On
        [set_menu_item]
            id=ashen_hearts_ux_miss_event_prompt_on
            description= _ "Switch On Attack Miss Hightlight Event"
            [show_if]
                [have_unit]
                    x,y=$x1,$y1
                    side=1
                [/have_unit]
                [and]
                    {VARIABLE_CONDITIONAL wol_ux_miss_event_switch equals "no"}
                [/and]
            [/show_if]

            [command]
                [chat]
                    side=1
                    speaker="WoL SotBE"
                    message=_"Attack Miss Hightlighter has been enabled!"
                [/chat]
                {VARIABLE wol_ux_miss_event_switch "yes"}
            [/command]
        [/set_menu_item]
        # switch it Off
        [set_menu_item]
            id=ashen_hearts_ux_miss_event_prompt_off
            description= _ "Switch Off Attack Miss Hightlight Event"
            [show_if]
                [have_unit]
                    x,y=$x1,$y1
                    side=1
                [/have_unit]
                [and]
                    {VARIABLE_CONDITIONAL wol_ux_miss_event_switch equals "yes"}
                [/and]
            [/show_if]

            [command]
                [chat]
                    side=1
                    speaker="WoL SotBE"
                    message=_"Attack Miss Hightlighter has been disabled!"
                [/chat]
                {VARIABLE wol_ux_miss_event_switch "no"}
            [/command]
        [/set_menu_item]
    [/event]
#enddef

#define UX_MISS_EVENT_CONDITION
    [filter_condition]
        {VARIABLE_CONDITIONAL wol_ux_miss_event_switch equals "yes"}
    [/filter_condition]
#enddef

#define UX_HIGHLIGHT_MISSES_EVENT
    [event]
        name=attacker misses
        first_time_only=no
        {UX_MISS_EVENT_CONDITION}
        [floating_text]
            x,y=$second_unit.x,$second_unit.y
            text=_"<span size='x-small'>Miss</span>"
        [/floating_text]
    [/event]
    [event]
        name=defender misses
        first_time_only=no
        {UX_MISS_EVENT_CONDITION}
        [floating_text]
            x,y=$unit.x,$unit.y
            text=_"<span size='x-small'>Miss</span>"
        [/floating_text]
    [/event]
#enddef

#define ASHEN_HEART_RECALL_COSTS_ADJUSTMENT
    [adjust_recall_costs]
    [/adjust_recall_costs]
#enddef

#define ASHEN_HEARTS_XP_MODIFIER
    experience_modifier={ON_DIFFICULTY 100 100 120}
#enddef
